*{
    padding: 0;
    margin: 0;
}

  .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
     padding: 35px;
     top: 0%;
     max-width: 100%;
  }
  .nav ul li{
      list-style: none;
      margin: 10px 0px;
      
  }
  .nav a{
   text-decoration: none;
   color: rgb(126, 9, 48);
   background-color: beige;
   
   font-weight: 400;
   padding: 8px 25px;
  transition: all 0.5s ease;
} 
 .nav a:hover{
  background-color: rgb(222, 102, 21);
  color: rgb(14, 8, 7);
  font-weight: 700;
  box-shadow: 0 0 10px rgb(155, 108, 20);
  transition: all 0.5s ease;
}
.button{
  display: inline;
  max-width: 90px;
}
.Content{
  display: flex;
  margin: 30px;
  padding: 24px;
  height: 360px;
}
h1{
  padding: 30px;
  color: rgb(97, 46, 4);
  font-size: 65px;
  font-family: 'Great Vibes', cursive;
}
h1 span{
  color: rgb(243, 235, 240);
}
p{
  padding-top: 40px;
  font-weight: 500px;
  font-size: 22px;
  color: rgb(252, 252, 253);

}
p span{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 700px;
  color: rgb(104, 20, 41);
  padding-bottom: 15px;
}
#Menu{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 max-width: 460;
 height: 560px;
 margin: 50px, auto;
 font-size: 23px;
 
 
}
table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px #AAA;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: #C3C3C3;
    color: #444;
  }
  
  tr {
    background-color: #b06a1b;
   
  }
  
  tr:hover {
    background-color: #bca0a0;
  }

#Reviews {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700px;
  height: 570px;
}

.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review > div {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.review p {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.4;
}

.review img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.review .icon {
  margin-top: 10px;
  font-size: 24px;
}

.review .icon i {
  color: #ffc107;
}
.review .icon span i{
  color: #fff;
}

#Contact{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(118, 79, 6);
  max-width: 400px;
  height: 360px;
  margin: 50px auto;
  
}
#password{
  width: 59%;
  margin-top: 12px;
  margin-bottom: 12px;
}
#name{
  margin-bottom: 12px;
}
h4{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
.HERE{
  font-size: 20px;
  font-weight: 700;
}


button {
  background-color: white;
  color: #af6c1b;
  border: none;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #af6c1b;
  color: white;
  
}
.media-icon {
  margin-top: 10px;
}

.media-icon a {
  margin-right: 10px;
}

.fa-brands {
  font-size: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  
}

.find_us {
  margin-bottom: 10px;
}

.find_us i {
  margin-right: 10px;
}

.find_us a {
  color: #e5e4e4;
}

.find_us a:hover {
  color: #000;
}

